<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>


<form method="post">
     {% csrf_token %}

    <center> ENTER your otp:</center><br>
   <center> <input type="number"  name="otp"></center><br>
  <br>
    <br><center><h3>{{ msg }}</h3></center><br>
    <center><input type="submit" value="Submit"></center>

</form>


